@model PaginatedList<Phones.Models.PhoneDTO>

@{
    ViewData["Title"] = "Phone List";
}

<h1>Phone List</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <select name="FilterByProducerName" asp-items="ViewBag.ProducerNames" value="@ViewData["ProducerNameFilter"]">
                <option value="">-- მწარმოებელი --</option>
            </select>
            <input type="hidden" name="CurrentSort" value="@ViewData["CurrentSortParm"]" />
            <input type="text" name="FilterByName" value="@ViewData["NameFilter"]" placeholder="დასახელება" />
            <input type="text" name="FilterByPriceFrom" value="@ViewData["PriceFromFilter"]" placeholder="ფასი" /> -დან
            <input type="text" name="FilterByPriceTo" value="@ViewData["PriceToFilter"]" placeholder="ფასი" /> -მდე
            <input type="submit" value="ძებნა" class="btn btn-light" /> |
            <a asp-action="Index">საწყისი სია</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-SortByName="@ViewData["NameSortParm"]" asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
                   asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]" asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
                   asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]">
                    @Html.DisplayNameFor(model => model[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProducerName)
            </th>
            <th>
                <a asp-action="Index" asp-route-SortByPrice="@ViewData["PriceSortParm"]" asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
                   asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]" asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
                   asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]">
                    @Html.DisplayNameFor(model => model[0].Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ImgUrl)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@item.ImgUrl" class="imageCell" />
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- buttons: < 1 2 3 > -->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-CurrentSort="@ViewData["CurrentSortParm"]"
   asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
   asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]"
   asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
   asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]"
   asp-route-PageIndex="@(Model.PageIndex - 1)"
   class="btn btn-light @prevDisabled">
    <
</a>
@if (Model.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-CurrentSort="@ViewData["CurrentSortParm"]"
       asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
       asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]"
       asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
       asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]"
       asp-route-PageIndex="@(Model.PageIndex - 1)"
       class="btn btn-light">
        @(Model.PageIndex - 1)
    </a>
}

<a asp-action="Index"
   asp-route-CurrentSort="@ViewData["CurrentSortParm"]"
   asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
   asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]"
   asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
   asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]"
   asp-route-PageIndex="@(Model.PageIndex)"
   class="btn btn-light disabled">
    @(Model.PageIndex)
</a>

@if (Model.HasNextPage)
{
    <a asp-action="Index"
       asp-route-CurrentSort="@ViewData["CurrentSortParm"]"
       asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
       asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]"
       asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
       asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]"
       asp-route-PageIndex="@(Model.PageIndex + 1)"
       class="btn btn-light">
        @(Model.PageIndex + 1)
    </a>
}
<a asp-action="Index"
   asp-route-CurrentSort="@ViewData["CurrentSortParm"]"
   asp-route-CurrentFilterByName="@ViewData["NameFilter"]"
   asp-route-CurrentFilterByPriceFrom="@ViewData["PriceFromFilter"]"
   asp-route-CurrentFilterByPriceTo="@ViewData["PriceToFilter"]"
   asp-route-CurrentFilterByProducerName="@ViewData["ProducerNameFilter"]"
   asp-route-PageIndex="@(Model.PageIndex + 1)"
   class="btn btn-light @nextDisabled">
    >
</a>